<!-- <div class="modal-header">
	<span class="close-icon large-gray pull-right cursor-pointer" ng-click="cancel()" title="Close"></span>
	<h4 class="modal-title">Sign in or create new account</h4>
</div> -->
<div class="modal-body sign-form">
	<uib-tabset justified="true">
		<uib-tab index="0" heading="LOG IN">
			<form class="signin-modal-form" name="signInForm">
				<div class="form-group">
					<h4>Enter your email address</h4>
					<input type="text" class="form-control" placeholder="youremail@example.com" ng-model="signinCompanyName" required />
				</div>
				<div class="form-group">
					<h4>Enter your password<a class="pull-right" ng-click="forgotPwd()">Forgot password?</a></h4>
					<input type="text" class="form-control" placeholder="" ng-model="pwd" required />
				</div>
				<button class="btn btn-success btn-md center-block" ng-click="signin()">Log In</button>
				<br/>
				<div class="divider"><div>OR</div></div>
				<br/>
				<div class="form-group">
					<div class="magic-link-text">
						<h4>Sign in to Bliff with a magic link</h4>
						<span>Receive a log in magic link to my email address</span>
					</div>
				</div>
				<button class="btn btn-info btn-md center-block" ng-click="signin()">SEND ME LINK</button>
			</form>

		</uib-tab>
		<uib-tab index="1" heading="SIGN UP">
			<form class="signup-modal-form" name="signUpForm">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Company Name" ng-model="signupCompanyName" required />
					<input type="text" class="form-control" placeholder="Website" ng-model="signupWebSite" required />
					<input type="text" class="form-control" placeholder="Email Address" ng-model="signupEmail" required />
					<input type="text" class="form-control" placeholder="First Name" ng-model="signupFirstName" required />
					<input type="text" class="form-control" placeholder="Last Name" ng-model="signupLstName" required />
					<input type="password" class="form-control" placeholder="Password" ng-model="signupPassword" required />
					<input type="password" class="form-control" placeholder="Confirm Password" ng-model="signupConfirm" required />
				</div>
				<button class="btn btn-info btn-md center-block" ng-click="signup()">Sign Up</button>		
			</form>
		</uib-tab>
	</uib-tabset>

	<!-- <form class="signin-modal-form" name="signInForm">
		<h3>Sign in</h3>
		<div class="form-group">
			<label>Enter your company name</label>
			<input type="text" class="form-control" placeholder="Company Name" ng-model="signinCompanyName" required />
		</div>
		<button class="btn btn-success btn-lg btn-block" ng-click="signinNext()">NEXT</button>
	</form>
	<div class="divider"></div>
	<form class="signup-modal-form" name="signUpForm">
		<h3>Create your company</h3>
		<div class="form-group">
			<label>Enter your company name</label>
			<input type="text" class="form-control" placeholder="Company Name" ng-model="signupCompanyName" required />
		</div>
		<button class="btn btn-info btn-lg btn-block" ng-click="signupNext()">NEXT</button>		
	</form> -->
</div>