<div class="modal-header">
	<span class="close-icon large-gray pull-right cursor-pointer" ng-click="cancel()" title="Close"></span>
	<a ng-click="back()">Sign in to a different company</a>
</div>
<div class="modal-body">
	<form>
		<h3>Create a company</h3>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="First Name" ng-model="firstName" required />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Last name" ng-model="lastName" required />
		</div>
	</form>
	<div class="divider"></div>
	<form name="registerForm">
		<h3>Set your password</h3>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password" ng-model="pwd" required minlength="8" />
		</div>
		<div class="form-group">
            <span ng-show="registerForm.confirmPwd.$error.compareTo">Passwords doesn't match</span>
			<input type="password" name="confirmPwd" class="form-control" placeholder="Confirm password" ng-model="confirmPwd" compare-to="pwd" required minlength="8"/>
		</div>
        <div ng-messages="messages" class="modal-error-list" role="alert" multiple>
            <h4 ng-message="company_name">Company name is taken</h4>
            <h4 ng-message="email">Email is taken</h4>
        </div>
		<button class="btn btn-success btn-lg btn-block" ng-click="createCompany()">CREATE COMPANY</button>
	</form>
</div>
