<div ng-hide="hideFooter" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/" class="logo">
                    <img class="bliff-logo" src="assets/images/bliff_logo.png" >
                </a> 
			</div>
			<div class="col-md-6">
				<ul class="bottom-menu">
                    <li ng-hide="isAuthorized">
                        <a href="#" class="page-scroll btn-signin" ng-click="signin()">SIGN IN</a>
                    </li>
                    <li>
						<a href="#" class="page-scroll btn-signin" ng-click="signin()">SIGNUP</a>
					</li>
					<li>
						<a href="/discover-companies">DISCOVER COMPANIES</a>
					</li>
					<li>
						<a href="/#/#about">HOW IT WORKS</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="social-links">
					<a><i class="fa fa-facebook"></i></a>
					<a><i class="fa fa-twitter"></i></a>	
				</div>	
			</div>
		</div>
		<div class="row clearfix copyright">	
			<div class="col-lg-6">
				<p>Founded in 2016, Bliff - business networking site, enables companies to build strategic connections, form solid business networks with companies from anywhere in the world, and freely communicate with one another. Through exploring and sharing our views, we discover new ways of doing things. We inspire excellence, and we facilitate growth and sustainability throughout our business environment.</p>
			</div>
			<div class="col-lg-6">
				<p class="company-reserved">Bliff all Right Reserved, 2016</p>
			</div>
		</div>
	</div>
</div>
