<div class="landing-page">
    <div class="intro">
        <div class="fade-bg"></div>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Connect and work with other companies<br/>from around the world</h1>
                        <button class="btn btn-info btn-lg get-started" ng-click="getStarted()">Join Bliff</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="passwordResetCompletePopup">
        <div class="ngdialog-message">
            <h3>Congratulation</h3><hr>
            <div>Your password was updated!</div>
            <div>Now you can login.</div>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="companyCreatedPopup">
        <div class="ngdialog-message">
            <h3>Congratulation</h3><hr>
            <div>Your company has been registered</div>
            <div>Please verify your account by verifing check your inbox for an activation link.</div>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="magicLinkSentPopup">
        <div class="ngdialog-message">
            <h3>Magic Login</h3><hr>
            <div>We've sent a login link to your mail inbox.</div>
            <div>Please check your email</div>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="passwordResetPopup">
        <div class="ngdialog-message">
            <h3>Password Reset</h3><hr>
            <div>We've sent a password reset link to your mail inbox.</div>
            <div>Please check your email.</div>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="companyActivatedPopup">
        <div class="ngdialog-message">
            <h3>Verification Complete</h3><hr>
            <div>Your account is now active</div>
            <div>You can now login into your Bliff account.</div>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
        </div>
    </script>

    <section id="about" class="steps-container gray-bg">
        <div class="container">
            <h2>Ultimate Business Networking Site:<br/>Your Gateway to Business Development</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4>Create your company's profile</h4>
                    <p>It just takes a few minutes to setup your company´s profile, then you can start connecting and communicating with other companies.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4>Start Networking</h4>
                    <p>Showcase your company, and connect with others. Browse companies in any industry sector across the globe. Start building a strategic business development network and boost your company´s relationships.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4>Make business relationships</h4>
                    <p>With Bliff possiblites are endless. Create strategic partnerships, find sales leads or any kind of  business idea that comes to your mind!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="review" class="company-container">
        <div class="container">
            <h2>What Companies Are Saying</h2>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="company-logos">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
                    <h3 class="text-center">"Excellent search capabilities, easy to setup company profile, happy to say we connected with a few companies already."</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 company-seo">
                    <img class="user-avatar" alt="Brad Tornton" src="assets/images/avatar.png" />
                    <p class="user-name">J. Harrell</p>
                    <p class="user-level">Product Manager at MyPet-Q</p>
                </div>
            </div>
        </div>
    </section>

    <section id="coworker" class="coworker-container">
        <div class="container">
            <div class="row">
                <ul class="coworkers">
                    <li><img class="coworker-img" src="assets/images/airbnb.png"></li>
                    <li><img class="coworker-img" src="assets/images/vine.png"></li>
                    <li><img class="coworker-img" src="assets/images/nike.png"></li>
                    <li><img class="coworker-img" src="assets/images/freelancer.png"></li>
                    <li><img class="coworker-img" src="assets/images/github.png"></li>
                </ul>
            </div>
        </div>
    </section>

    <!--<section id="team" class="team-container gray-bg">-->
        <!--<div class="container">-->
            <!--<h2>Our Team</h2>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                    <!--<div class="team-member">-->
                        <!--<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                        <!--<div class="user-info">-->
                            <!--<img class="user-avatar" alt="Carlos Gotlib" src="assets/images/avatar.png" />-->
                            <!--<div class="user-data">-->
                                <!--<h3 class="user-name">Carlos Gotlib</h3>-->
                                <!--<span class="user-level">CEO</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="desc">-->
                            <!--<p>Since 2011, Carlos has been focusing on web and mobile technology and leading the team in various startups. The entire process from imagining and developing to producing new and innovative products to help improve everyone's is what he most enjoys. He has a background in law but a passion for entrepreneurship drives him.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="team-member">-->
                        <!--<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                        <!--<div class="user-info">-->
                            <!--<img class="user-avatar" alt="Seung Cheol" src="assets/images/avatar.png" />-->
                            <!--<div class="user-data">-->
                                <!--<h3 class="user-name">Seung Cheol</h3>-->
                                <!--<span class="user-level">CFO</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="desc">-->
                            <!--<p>We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, remove any comments that constitute harassment, hate speech.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
              
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <div id="get_started" class="intro bottom">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Join the biggest business development network</h1>
                        <button class="btn btn-info btn-lg get-started" ng-click="getStarted()">Join Bliff</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
