<div class="home-page">
	<section class="top-container" back-img="{{companyProfile.cover}}">
        <div class="fade-bg fade40"></div>
		<div class="container">
			<div class="company-logo">
				<img ng-src="{{companyProfile.logo || 'assets/images/no-avatar.png'}}" ng-class="{'no-src': !companyProfile.logo}">
				<input type="file" accept="image/*" file-upload style="display: none;" id="logoFile" profile-attr="logo">
				<a class="edit-icon white" ng-click="changeLogo()"></a>
			</div>
			<h1 class="company-name">{{companyProfile.name}}<a ng-href="/#/settings?main=company&sub=basic-info" class="margin-left-15 edit-icon white"></a></h1>
			<ul class="social-list no-margin">
				<li ng-show="companyProfile.facebook && companyProfile.facebook!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-facebook"></i></a>
				</li>
				<li ng-show="companyProfile.twitter && companyProfile.twitter!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-twitter"></i></a>
				</li>
				<li ng-show="companyProfile.instagram && companyProfile.instagram!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-instagram"></i></a>
				</li>
				<li ng-show="companyProfile.google_plus && companyProfile.google_plus!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-google-plus"></i></a>
				</li>
				<li ng-show="companyProfile.linkedin && companyProfile.linkedin!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-linkedin"></i></a>
				</li>
				<li ng-show="companyProfile.youtube && companyProfile.youtube!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-youtube-play"></i></a>
				</li>
				<li ng-show="companyProfile.github && companyProfile.github!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-github-alt"></i></a>
				</li>
				<li ng-show="companyProfile.stackoverflow && companyProfile.stackoverflow!=''">
					<a target="_blank" href="/#/settings?main=company&sub=socials"><i class="fa fa-stack-overflow"></i></a>
				</li>
				<li class="no-bg add-socials" ng-hide="isActiveSocials">Add {{companyProfile.name}}'s Social Accounts</li>
				<li class="no-bg">
					<a target="_blank" href="/#/settings?main=company&sub=socials" class="edit-icon white"></a>
				</li>
			</ul>
			<!--
			<div class="butotn-area">
				<button class="btn btn-info">Send a Friend Request</button>
				<button class="btn btn-success">Create Conversation</button>
			</div>
			-->
			<input type="file" accept="image/*" file-upload style="display: none;" id="coverFile" profile-attr="cover">
			<a class="edit-cover" ng-click="changeCover()">
				<span class="edit-cover-icon"></span>
				<span class="edit-cover-text">Edit Cover</span>
			</a>
		</div>
	</section>
	<section class="main-container">
		<div class="container">
			<h5 class="page-title">{{companyProfile.name}} Profile<a ng-href="/#/settings?main=company&sub=basic-info" class="margin-left-15 edit-icon"></a></h5>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<div class="basic-info">
						<h3>Website</h3>
						<a ng-href="companyProfile.website">{{companyProfile.website}}</a>
					</div>
					<div class="basic-info">
						<h3>Headquarters</h3>
						<p>{{companyProfile.city}}, {{companyProfile.state}} {{companyProfile.country}}</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<div class="basic-info">
						<h3>Industry</h3>
						<p>{{companyProfile.industry}}</p>
					</div>
					<div class="basic-info">
						<h3>Company Size</h3>
						<p>{{companyProfile.company_size}}</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<div class="basic-info">
						<h3>Type</h3>
						<p>{{companyProfile.company_type}}</p>
					</div>
					<div class="basic-info">
						<h3>Founded</h3>
						<p>{{companyProfile.founded}}</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<div class="basic-info">
						<h3>Owner</h3>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" ng-src="{{companyProfile.owner.avatar || 'assets/images/no-avatar.png'}}">
							<div class="user-data">
								<h3 class="user-name">{{companyProfile.owner.first_name}} {{companyProfile.owner.last_name}}</h3>
								<span class="user-level">{{companyProfile.owner.role}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row basic-info-wrapper">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="info">
						<div class="info-title clearfix">
							<h5 class="pull-left">COMPANY DESCRIPTION</h5>
							<a class="edit-icon pull-right" ng-href="/#/settings?main=company&sub=basic-info"></a>
						</div>
						<div class="divider"></div>
						<div class="info-body" ng-nicescroll nice-option="{zindex: 999, autohidemode: true, cursorcolor: '#d4d4d4', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}" ng-class="{'has-data': companyProfile.description}">
							<p class="comment">Write your<br/>company's description...</p>
							<div class="company-desc">
								<p>{{companyProfile.description}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="info">
						<div class="info-title clearfix">
							<h5 class="pull-left">{{companyProfile.name}} FRIENDS</h5>
							<a class="edit-icon pull-right" ng-click="editFriends()"></a>
						</div>
						<div class="divider"></div>
						<div class="info-body" ng-class="{'has-data': companyFriends.length!=0}" ng-nicescroll nice-option="{zindex: 999, autohidemode: true, cursorcolor: '#d4d4d4', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}">
							<p class="comment">Discover other companies<br/>and add them as friends.</p>
							<ul class="friend-list">
								<li class="company-info clearfix" ng-repeat="friend in companyFriends track by $index">
									<a href="/#/company-profile/{{friend.id}}">
										<img ng-src="{{friend.logo || 'assets/images/no-avatar.png'}}" class="company-logo" />
										<div class="company-data">
											<h3 class="company-name">{{friend.name}}</h3>
											<span class="company-role">{{friend.industry}}</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="info">
						<div class="info-title clearfix">
							<h5 class="pull-left">PEOPLE WHO WORK IN {{companyProfile.name}}</h5>
							<a class="edit-icon pull-right" ng-href="/#/settings?main=team&sub=account-mng"></a>
						</div>
						<div class="divider"></div>
						<div class="info-body" ng-class="{'has-data': companyMembers.length!=0}" ng-nicescroll nice-option="{zindex: 999, autohidemode: true, cursorcolor: '#d4d4d4', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}">
							<p class="comment">Invite people who work in<br/>{{companyProfile.name}}</p>
							<ul class="fb-user-list">
								<li class="user-info clearfix" ng-repeat="member in companyMembers track by $index">
									<img ng-src="{{member.avatar || 'assets/images/no-avatar.png'}}" class="user-avatar">
									<div class="user-data">
										<h3 class="user-name" ng-show="member.first_name!=null && member.first_name!=''">{{member.first_name}} {{member.last_name}}</h3>
										<h3 class="user-name" ng-hide="member.first_name!=null && member.first_name!=''">{{member.email}}</h3>
										<span class="user-level">{{member.role}}</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="info">
						<div class="info-title clearfix">
							<h5 class="pull-left">{{companyProfile.name}} HAS AFFILIATED COMPANIES</h5>
							<a class="edit-icon pull-right" ng-href="/#/settings?main=company&sub=affiliate-companies"></a>
						</div>
						<div class="divider"></div>
						<div class="info-body" ng-class="{'has-data': companyProfile.affiliated_companies.length!=0}" ng-nicescroll nice-option="{zindex: 999, autohidemode: true, cursorcolor: '#d4d4d4', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}">
							<p class="comment">You have no affiliated companies.<br/>You can add them in<br/>profile settings.</p>
							<ul class="affli-company-list" ng-repeat="company in affiCompanies track by $index">
								<li class="company-info clearfix">
									<a ng-href="/#/company-profile/{{company.id}}">
										<img ng-src="{{company.logo || 'assets/images/no-avatar.png'}}" class="company-logo" />
										<div class="company-data">
											<h3 class="company-name">{{company.name}}</h3>
											<span class="company-role">{{company.industry}}</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
