<div class="conv-mng-page">
	<div class="conv-select-container">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <button ng-click="closeManager()" class="btn btn-close btn-round"><span class="close-icon bold-white icon"></span></button>
					<div class="user-info conv-user mng-section">
                        <img class="user-avatar" ng-src="{{ currentRoom.started.avatar || 'assets/images/no-avatar.png'}}" />
						<div class="user-data">
                            <h3 class="user-name">{{ currentRoom.started.first_name }} {{ currentRoom.started.last_name}} started a conversation</h3>
                            <p class="user-level">{{ currentRoom.started.role }} in <a href="/#/company-profile/{{ currentRoom.source.id }}" class="company">{{ currentRoom.source.name }}</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="mng-section">
						<h3 class="title">CHOOSE COMPANY</h3>
						<div ng-include="'views/conversation/choose-company-list.tpl.html'"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="mng-section">
						<h3 class="title">CLICK OR DRAG DEPARTMENT TO ADD IT TO THE CONVERSATION</h3>
						<div ng-include="'views/conversation/depart-list.tpl.html'"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="mng-section">
						<h3 class="title">CLICK OR DRAG PEOPLE ADD THEM TO THE CONVERSATION</h3>
						<div ng-include="'views/conversation/conv-people-list.tpl.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="conv-members-container">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="conv-members-title">Invited members</h2>
					<div class="pull-right actions">
						<button class="btn btn-success btn-round" ng-click="saveSettings()">Save Settings<span class="check white-icon icon"></span></button>
						<button ng-click="deleteConversation()" class="btn btn-round">Delete Conversation<span class="close-icon bold-white icon"></span></button>
					</div>
				</div>
                <div class="devider"></div>
				<div class="col-md-12">
                    <div class="company-info">
                        <img class="company-logo" ng-src="{{ currentRoom.source.logo || 'assets/images/no-avatar.png'}}">
                        <div class="company-data">
                            <h3 class="company-name">{{ currentRoom.source.name }}</h3>
                            <span class="company-role">{{ currentRoom.source.industry }}</span>
                        </div>
                    </div>
                    <div class="depart-list-wrapper" ng-nicescroll nice-option="{zindex: 999, autohidemode: true, cursorcolor: '#595959', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}">
                        <ul class="depart-list">
                            <li ng-repeat="depart in chatSourceMembers" ng-click="deleteDepartmentFromChat(true, depart.name)">
                                {{ depart.name }}<span class="close-icon bold-white icon"></span>
                                <div class="dep-members">
                                    <div ng-repeat="m in depart.list"  ng-click="toggleSelect(m.id)">
                                        {{ getMemberName(m) }} <span class="close-icon bold-white icon"></span>
                                    </div>
                                    <div class="arrow"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
				</div>
				<div class="col-md-12">
                <hr>
				</div>
				<div class="col-md-12">
                    <div class="company-info">
                        <img class="company-logo" ng-src="{{ currentRoom.target.logo || 'assets/images/no-avatar.png'}}">
                        <div class="company-data">
                            <h3 class="company-name">{{ currentRoom.target.name }}</h3>
                            <span class="company-role">{{ currentRoom.target.industry }}</span>
                        </div>
                    </div>
                    <div class="depart-list-wrapper" ng-nicescroll nice-option="{zindex: 999, autohidemode: true, cursorcolor: '#595959', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}">
                        <ul class="depart-list">
                            <li ng-repeat="depart in chatTargetMembers" ng-click="deleteDepartmentFromChat(false, depart.name)">
                                {{ depart.name }}<span class="close-icon bold-white icon"></span>
                                <div class="dep-members">
                                    <div ng-repeat="m in depart.list"  ng-click="toggleSelect(m.id)">
                                        {{ getMemberName(m) }} <span class="close-icon bold-white icon"></span>
                                    </div>
                                    <div class="arrow"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
				</div>
			</div>
		</div>
        <div ng-class="{'dragging': dragging}" class="droppable" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
            <div class="droptext">DROP HERE</div>
        </div>
	</div>
</div>
