<ul class="conv-list">
    <li class="wrapper confirmed_{{room.confirmed}}" ng-repeat="room in roomsFiltered">
        <div class="wrapper gray-bg mng-conv-wrapper" ng-hide="room.confirmed">
            <h3>This conversation is wating for approval. {{ room.target.name }} hasn't accepted your conversation request. <a ng-hide="room.started.id !== globals.currentUser.profile.user_id" href="/#/manage-conversation/{{ room.id }}">Manage this conversation</a></h3>
        </div>
        <div class="conv-wrapper gray-bg" ng-if="room.confirmed" ng-click="enterRoom(room)">
            <img class="user-avatar" ng-src="{{ room.messages[room.messages.length-1].handle.avatar || 'assets/images/no-avatar.png'}}" />
            <div class="chat-content">
                <h3 class="user-name">{{room.messages[room.messages.length-1].handle.first_name}} {{room.messages[room.messages.length-1].handle.last_name}}</h3>
                <p class="chat-data">{{getMessagePreview(room.messages[room.messages.length-1].message)}}</p>
                <!-- <div ng-switch on="room.last_message.message.type">
                    <div ng-switch-when="file">
                        <a href="{{room.last_message.message.message}}" target="_blank">{{getFileName(room.last_message.message.message)}}</a>
                        file here
                    </div>
                    <div ng-switch-when="text">
                        {{ message.message }}
                    </div>
                </div> -->
                <div class="attachments-list">
                    <span ng-repeat="file in room.messages[room.messages.length-1].files">
                        <a target="_blank" href="{{file.file}}">{{file.filename}}</a>
                    </span>
                </div>
                <p class="chat-time">{{getFormattedTime(room.last_message.timestamp)}}</p>
            </div>
        </div>
    </li>
</ul>
