    <!-- <tr ng-repeat="message in currentRoom.messages" ng-switch on="message.type">
        <td>{{ getFormattedTime(message.timestamp) }}</td>
        <td>{{ message.handle.first_name }} {{ message.handle.last_name }}</td>
        <td ng-switch-when="file">
            <a href="{{message.message}}" target="_blank">{{getFileName(message.message)}}</a>
        </td>
        <td ng-switch-when="text">
            {{ message.message }}
        </td>
    </tr> -->
<ul id="chat" class="conv-list chat">
    <li class="wrapper" ng-repeat="message in currentRoom.messages" ng-switch on="message.type">
        <img class="user-avatar" ng-src="{{ message.handle.avatar || 'assets/images/no-avatar.png'}}" />
        <div class="conv-wrapper">
            <div class="chat-content">
                <div class="chat-header">
                    <span class="user-name">{{message.handle.first_name}} {{message.handle.last_name}}</span>
                    <span class="chat-time">{{getFormattedTime(message.timestamp)}}</span>
                </div>
                <p ng-switch-when="file" class="chat-data">
                    <a href="{{message.message}}" target="_blank">{{getFileName(message.message)}}</a>
                </p>
                <p ng-switch-when="text" class="chat-data">
                    {{ message.message }}
                </p>
                <span ng-repeat="file in message.files">
                    <a ng-show="is_image(file.filename)" target="_blank" href="{{file.file}}"><img class="chat-preview" ng-src="{{file.file}}" title="{{file.filename}}" alt="{{file.filename}}"></a>
                </span>
                <br>
                <span ng-repeat="file in message.files">
                    <a ng-hide="is_image(file.filename)" target="_blank" href="{{file.file}}">{{file.filename}}</a>
                </span>
            </div>
        </div>
    </li>
</ul>
<form id="chatform">
    <div class="send-message">
        <div ng-class="{'show': show_spin}" class="spin">
            <img src="/assets/images/spin.gif">
        </div>
        <div class="attachment">
            <div ng-show="opt.showSelect" class="btn-group-vertical attachment-select">
              <button ng-click="uploadFile()" type="button" class="btn "><img src="/assets/images/attachments-icon-small.png" class="">File</button>
              <button ng-click="uploadImage()" type="button" class="btn "><img src="/assets/images/photo-icon-gray.png" class="">Image</button>
            </div>
            <img ng-click="opt.showSelect = !opt.showSelect" src="/assets/images/attachments-icon-large.png" class="">
        </div>
        <textarea placeholder="Type your text here..." ng-model="msg_text" id="message" class="new-message" auto-grow></textarea>
        <div class="attachments-list">
            <span ng-repeat="file in files">
                <a ng-show="file.preview"><img class="chat-preview" ng-src="{{file.preview}}" title="{{file.name}}" alt="{{file.name}}"></a>
                <a ng-hide="file.preview">{{file.name}}</a>
            </span>
        </div>
        <button type="submit" ng-disabled="''==msg_text || show_spin" class="btn btn-info btn-sm send" id="go" ng-click="send()">Send</button>
        <input type="file" accept="image/*" file-upload style="display: none;" id="uploadimage" profile-attr="uploadimage">
        <input type="file" file-upload style="display: none;" id="uploadfile" profile-attr="uploadfile">
    </div>

                <!--<td>Say something:</td>-->
                <!--<td>-->
                    <!--<input id="file" type="file" onchange="angular.element(this).scope().checkFile()">-->
                    <!--<button type="submit" id="go" ng-click="send()">Say it</button>-->
                <!--</td>-->
</form>
