<ul class="conv-company-list">
	<li class="wrapper" ng-click="enterRoom(room)" ng-repeat="room in roomsFiltered">
		<div class="company-info">
			<div class="company-logo company-left">
                <div class="company-left">
                    <img ng-src="{{ room.source.logo || 'assets/images/no-avatar.png'}}">
                </div>
                <div class="company-right">
                    <img ng-src="{{ room.target.logo || 'assets/images/no-avatar.png'}}">
                </div>
            </div>
			<div class="company-data">
				<h3 class="company-name">{{room.source.name}} & {{room.target.name}}</h3>
				<span class="company-desc">{{room.name}}</span>
				<span class="company-desc">{{room.members.length}} people are invited</span>
			</div>
		</div>
	</li>
</ul>
