<div class="depart-list-wrapper" ng-nicescroll >
	<ul class="depart-list">
		<li ng-class="{selected: allFiltered}" ng-click="selectDepartment('all')" ng-drag="true" ng-drag-start="dragStart($data,$event)" ng-drag-stop="dragStop($data,$event)" ng-drag-data="{'type':'depart', 'obj': 'all'}">
            All
        </li>
        <li ng-class="{selected: depart.filtered}" ng-click="selectDepartment(depart.name)" ng-drag="true" ng-drag-start="dragStart($data,$event)" ng-drag-stop="dragStop($data,$event)" ng-drag-data="{'type':'depart', 'obj':depart.name}" ng-repeat="depart in departList">
            {{ depart.name }}
        </li>
	</ul>
</div>
