.company-page {
	padding-bottom: 154px;

	.top-container {
		padding: 80px 0 50px;
		background-color: $color__graybg;
		text-align: left;
	}

	.industry-tokens-content {
		margin-top: 35px;
	}

	.industry-tokens {
		text-align: left;

		li {
			background-color: $color__blue;
			@include border-radius(100px);
			padding: 17px 30px;
			display: inline-block;
			font-family: "OpenSans";
			font-size: 16px;
			color: $color__white;
			margin-right: 5px;
			margin-bottom: 10px;

			.content {
				margin-right: 20px;
			}

			.close {
				color: $color__white;
			}
		}
	}

	.map-wrapper {
		margin-top: 50px;

        .reset-all-filter {
			font-family: "OpenSans-Light";
			font-size: 20px;
			color: #000;
			cursor: pointer;
            float: right;

            border-radius: 100px;
            border: solid 1px #d8d8d8;
            color: #989898;
            padding: 15px 24px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #479ae0;
            }
        }
		.on-map {
			font-family: "OpenSans-Light";
			font-size: 20px;
			color: #000;
			cursor: pointer;

            span {
                display: inline-block;
                width: 16px;
                height: 9px;
                background: url("../images/dropdown-icon-gray.png") no-repeat scroll 0 0 transparent;
                margin-left: 10px;
            }
		}

	}

    .map-content {
        width: 90%;
        height: 570px;
        margin: auto;
    }

	.main-container {
		padding-top: 50px;
	}

    .row.companies-list > .col-md-6 {
        float: none;
        display: inline-block;
    }

	.search-count {
		font-family: "OpenSans-Light";
		font-size: 26px;
		color: $color__gray;
		margin-bottom: 30px;
	}

	.company-item {
        position: relative;
		padding: 20px 20px 0 20px;
		background-color: $color__dark_blue;
		margin-bottom: 30px;
        min-height: 300px;
        cursor: pointer;

		.content {
            position: relative;
        }

		.title {
            position: relative;
			margin-bottom: 25px;
		}

		.company-avatar {
			width: 50px;
			height: 50px;
			margin-right: 15px;
			float: left;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
		}

		.company-name {
			font-family: "OpenSans";
			font-size: 26px;
			color: $color__white;
			float: left;
			line-height: 50px;
		}

		.btn.send-request {
			font-family: "OpenSans-Semibold";
			font-size: 16px;
			padding: 16px 22px;
			@include border-radius(3px);
		}

		.info-list {
			li {
			    width: 33%;
			    display: block;
			    margin-bottom: 20px;
			    vertical-align: top;
			    float: left;
			    color: $color__white;

			    .info-title {
					font-family: "OpenSans-Light";
					font-size: 20px;
				}

				.info-desc {
					font-family: "OpenSans-Semibold";
					font-size: 14px;
				}
		    }
		}
	}
}

.company-profile-page {
	.top-container {
		text-align: center;
		padding: 110px 0 50px;
        position: relative;
	}

    .container {
        position: relative;
    }

	.main-container {
		padding-top: 37px;
		padding-bottom: 50px;
	}
}

.btn.send-request[disabled] {
    opacity: 1;
    color: #585867;
}

.searchByIndustry.dropdown-custom {
	.content {
		height: auto;
		padding: 0;
		overflow: hidden;

		& > .industry-list {
			padding: 10px 0;
			height: 400px;
		}

		.item {
			position: relative;

			&:nth-child(2n+3) {
				background-color: $color__dark_gray;
			}

			&.filtered:after {
				content: "";
				position: absolute;
				right: 35px;
				top: 16px;
				display: block;
				background-color: $color__blue;
				@include border-radius(50%);
				width: 10px;
				height: 10px;
			}
		}

		.button-area a {
			width: 50%;
			height: 60px;
			background-color: $color__dark_gray;
			display: block;
			float: left;
			text-align: center;
			padding: 18px 0;
			font-family: "OpenSans";
			font-size: 18px;
			color: $color__white;

			&:hover {
				background-color: $color__blue;
			}
		}
	}
}

