.conv-page {
    /*
    position: fixed;
    top: 100px;
    height: 100%;
    width: 100%;

    .container-fluid, .main-container, .main-container .row, .main-container .row .col-conv-list {
        height: 100%;
    }
    */

	.wrapper {
		border-bottom: solid 1px $color__grayeb;
		padding-left: 30px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.top-container {
		.wrapper {
            height: 125px;
			padding-top: 45px;
			padding-bottom: 45px;
		}

		h3 {
			font-family: "OpenSans";
			font-size: 20px;
			line-height: 34px;
			text-align: left;
		}
	}

	ul.view-mode {
		display: table;
		text-align: left;

		li {
			margin-right: 17px;
			display: inline-block;
			line-height: 34px;
			height: 34px;

			a {
				font-size: 12px;
				font-family: "OpenSans-Semibold";
				color: $color__gray;
				cursor: pointer;
			}

			&.selected a {
				color: $color__blue;
			}
		}
	}

	.typing-text {
		font-size: 16px;
		width: 340px;
	}

	.conv-company-list {
		li {
		    height: 120px;
		    padding-top: 28px;

		    .company-logo {
				width: 50px;
				height: 50px;
				margin-right: 20px;
                position: relative;
                overflow: hidden;

				& img {
					width: 50px;
					height: 50px;
				}

                .company-left {
                }

                .company-right {
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    width: 25px;
                    margin-left: 25px;

                    img {
                        margin-left: -25px;
                    }
                }
			}

			.company-name {
				font-size: 16px;
				line-height: 1.4;
			}

			.company-desc {
				font-family: "OpenSans-Light";
				font-size: 14px;
				color: $color__black;
				display: block;
			}
	    }
	}

	.mng-conv-wrapper {
		height: 120px;
		padding-top: 32px;
        padding-left: 45px;

		h3 {
			font-family: "OpenSans-Light";
			font-size: 20px;
			line-height: 1.4;
			color: $color__gray;
			width: 600px;
		}
	}

    .people-list-wrapper {
        width: 100%;
        margin-top: -35px;
        height: 100px;
        padding-right: 140px;
        position: relative;
        padding-top: 20px;

        .mng-button {
            position: absolute;
            right: 30px;
            border-radius: 100px;
            border: solid 1px #d8d8d8;
            font-size: 12px;
            color: #989898;
            padding: 15px 24px;
            top: 30px;
            cursor: pointer;

            img {
                padding-left: 10px;
                margin-top: -3px;
            }
        }

        .conv-people-list.header {
            display: table;

            .member {
                display: inline-block;
                position: relative;
                padding: 5px 15px;

                .user-delete, .user-name {
                    opacity: 0;
                    transition: 0.05s;
                    -moz-transition: 0.05s;
                    -webkit-transition: 0.05s;
                    -o-transition: 0.05s;
                }

                &:hover .user-delete, &:hover .user-name {
                    opacity: 1;
                }

                .user-delete {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-top: -15px;
                    -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                }

                .user-avatar {
                    width: 50px;
                    height: 50px;
                }

                .user-name {
                    max-width: initial;
                    white-space: nowrap;
                    position: absolute;
                    left: 50%;
                    top: 60px;
                    -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                    padding: 4px 7px;
                    font-family: OpenSans;
                    font-size: 12px;
                    color: #ffffff;
                    border-radius: 3px;
                    background-color: #363636;
                }
            }
        }
    }


	.conv-list {
        &.chat {
            li {
                height: auto;
                border: 0;

                .user-avatar {
                    width: 40px;
                    height: 40px;
                    margin-top: 10px;
                    float: left;
                }

                .conv-wrapper {
                    width: 100%;
                    padding-left: 50px;


                    .chat-content {
                        width: 100%;

                        .user-name {
                            padding-right: 5px;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .chat-data {
                            margin-top: 5px;
                            font-size: 14px;
                        }

                        .chat-preview {
                            max-height: 200px;
                            max-width: 200px;
                        }
                    }
                }

            }
        }
		li {
		    height: 120px;
		    padding: 5px 20px;

            &.confirmed_false {
                padding: 0;
            }

		    .conv-wrapper {
				width: 665px;
				height: 100%;
				padding: 10px;
				@include border-radius(3px);

				& > .user-avatar {
					width: 30px;
					height: 30px;
					margin-top: 20px;
					margin-right: 15px;
					float: left;
				}

				& > .chat-content {
                    width: 600px;
					display: inline-block;
					font-size: 14px;
                    padding-top: 10px;

                    .attachments-list {
                        width: 600px;
                        white-space: nowrap;
                        overflow: hidden;
                    }
				}

				.user-name {
					font-family: "OpenSans";
                    font-size: 14px;
				}

				.chat-data {
					font-family: "OpenSans-Light";
					line-height: 1.6;
				}

				a {
					font-family: "OpenSans";
				}

				.chat-time {
					font-family: "OpenSans";
					font-size: 12px;
					color: $color__gray;
					margin-top: 6px;
				}
			}
	    }
	}

	.footer {
		height: 175px;
		padding: 20px;

		ul li {
			display: inline-block;
			margin: 0 10px;

			a {
				font-family: "OpenSans";
				font-size: 10px;
				color: $color__gray;
			}
		}
	}
}

.send-message {
    border-radius: 3px;
    border: solid 1px #d9d9d9;
    padding:10px 100px 0px 60px ;


    .attachments-list {
        width: 600px;
        white-space: nowrap;
        overflow: scroll;

        img {
            max-height: 200px;
            max-width: 200px;
        }
    }

    .attachment {
        .attachment-select {
            position: absolute;
            margin-top: -115px;
            
            .btn {
                border-color: #d9d9d9;
                padding-left: 10px;
                padding-top: 8px;
                text-align: left;
                width: 180px;
                height: 51px;
                border-radius: 3px;
                background-color: #ffffff;
                color: black;

                &:hover {
                  background-color: #f9f9f9;
                }
            }

            img {
                margin: 5px;
                padding-right: 15px;
            }
        }

        width: 40px;
        height: 40px;
        border-radius: 3px;
        background-color: #f9f9f9;
        position: absolute;
        bottom: 5px;
        left: 20px;

        img {
            margin: 5px;
        }
    }

    .btn.send {
        position: absolute;
        bottom: 5px;
        right: 20px;
        width: 69px;
        height: 40px;
    }


    textarea.new-message { 
        outline: none;
        border: 0;
        margin-bottom: -5px;
        width: 100%;
        line-height: 20px; 
        padding: 0;
        font-size: 14px;
        resize: none;
        word-wrap: break-word;
        transition: 0.05s;
        -moz-transition: 0.05s;
        -webkit-transition: 0.05s;
        -o-transition: 0.05s;
    }
}

.conv-mng-page {
	background-color: $color__dark_gray;

    .dragging {
        position: absolute;
    }

	.conv-select-container {
		padding-top: 40px;
		background-color: $color__dark_blue;

        .btn-close {
            position: absolute;
            right: 0;
            height: 60px;
        }
	}

	.conv-user {
		.user-avatar {
			width: 40px;
			height: 40px;
		}

		.user-name {
			color: $color__white;
			font-family: "OpenSans";
			font-size: 18px;
		}

		.user-level {
			color: $color__gray;
			font-family: "OpenSans";
			font-size: 12px;
			line-height: 17px;

			& > .company {
				color: $color__white;
			}
		}
	}

	.mng-section {
		margin-bottom: 40px;

		h3.title {
			font-family: "OpenSans";
			font-size: 16px;
			color: $color__gray;
			margin-bottom: 25px;
		}
	}

    .company-list-wrapper {
        li {
			&.selected img, &:hover img {
				position: relative;
				opacity: 0.4;
			}

			img.selected-mark {
                opacity: 0;
                display: block;
                position: absolute;
                top: 50%;
                width: 20px;
                height: 14px;
                margin-left: 15px;
                margin-top: -18px;
                background: url("../images/check-icon.png") no-repeat scroll 0 0 transparent;
            }

			&.selected img.selected-mark,
			&:hover img.selected-mark {
                opacity: 1;
			}
        }
    }

	.company-list-wrapper,
	.depart-list-wrapper,
	.people-list-wrapper {
		width: 100%;
	    padding-bottom: 20px;
	}

	.company-list,
	.depart-list,
	.conv-people-list {
		white-space: nowrap;
	}

	.company-list {
		li {
			display: inline-block;
			margin-right: 60px;
			cursor: pointer;

			&.selected .company-name,
			&:hover .company-name{
                opacity: 0.4;
			}

			.company-logo {
				width: 50px;
				height: 50px;
			}

			.company-name {
				opacity: 1;
				color: $color__white;
			}
		}
	}

	.depart-list {
		li {
			padding: 17px 30px;
			@include border-radius(100px);
			color: $color__white;
			border: 1px dashed $color__gray97;
			display: inline-block;
			margin-right: 15px;

			&.selected,
			&:hover {
				background-color: $color__blue;
				border: 1px dashed $color__blue;
				cursor: pointer;
			}
		}
	}

	.conv-people-list {
		li {
			display: inline-block;
			margin-right: 90px;
			cursor: pointer;

			&.selected img, &:hover img {
				position: relative;
				opacity: 0.4;
			}

			img.selected-mark {
                opacity: 0;
                display: block;
                position: absolute;
                top: 50%;
                width: 20px;
                height: 14px;
                margin-left: 15px;
                margin-top: -18px;
                background: url("../images/check-icon.png") no-repeat scroll 0 0 transparent;
            }

			&.selected img.selected-mark,
			&:hover img.selected-mark {
                opacity: 1;
			}
		}

		.user-avatar {
			width: 50px;
			height: 50px;
		}

		.user-name {
			color: $color__white;
		}
	}

	.conv-members-container {
		padding: 60px 0 120px;
        position: relative;

        .droppable {
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0,0,0,0.5);
            border: 3px dashed white;
            border-radius: 40px;

            &.dragging {
                display: block;
            }

            .droptext {
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                color: white;
                font-family: "OpenSans-Light";
                font-size: 40px;
            }
        }

		h2.conv-members-title {
			font-family: "OpenSans-Light";
			font-size: 34px;
			color: $color__gray77;
			line-height: 1.4;
			display: inline-block;
		}

		.actions {
			button {
				margin-left: 15px;
			}

			.icon {
				margin-left: 15px;
			}
		}
        hr {
            border-color: #545454;
        }
        .company-info {
            padding-bottom: 30px;
            .company-name {
                color: #fff;
            }
        }
        .depart-list {
            li {

                &:hover {
                    background-color: transparent;
                    border: 1px dashed #979797;

                    .dep-members {
                        opacity: 1;
                    }
                }

                .close-icon {
                    margin-left: 20px;
                }
            }
        }

        .dep-members {
            opacity: 0;
            position: absolute;
            border-radius: 5px;
            background-color: #131313;
            padding: 10px 20px;
            margin-left: -20px;
            margin-top: 10px;

            &:hover {
                opacity: 1;
            }

            > div {
                padding-top: 10px;
            }

            .arrow {
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                left: 50%;
                background-color: #131313;
                height: 15px;
                width: 15px;
                position: absolute;
                top: 0;
                margin-left: -12px;
                margin-top: -7px;
            }
        }

        .devider {
            padding-top: 100px;
        }
	}
}
