.navbar-custom {
    margin-bottom: 0;
    position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
 	z-index: 99;
 	background-color: $color__dark_gray;

	&.gray-bg {
	 	position: relative !important;

	 	@media (min-width: 768px) {
	 		background-color: $color__dark_gray;
	 	}
	}

	.navbar-brand {
		font-family: OpenSans-Bold;
	  	font-size: 30px;
	  	color: $color__white;
	    display: inline-block;
	    line-height: 40px;
	    height: 40px;
	    padding: 8px 20px;
	}

	.navbar-toggle {
		color: $color__white;
	}

	.navbar-nav > li {
		margin-left: 60px;
	}

	.navbar-nav > li > a {
		line-height: 40px;
		padding: 0;
		font-family: OpenSans-Semibold;
		font-size: 16px;
		color: $color__white;
		cursor: pointer;
		background-color: transparent;
	}

	.navbar-nav > li .user-info .user-avatar {
		width: 50px;
		height: 50px;
		margin-left: 15px;
		margin-right: 0;
	}

	.navbar-nav > li .user-name,
	.navbar-nav > li .user-role {
		color: $color__white;
	}

	.nav > li > a:focus,
	.nav > li > a:hover {
		background-color: transparent;
	}

	.nav > li .dropdown-menu.dropdown-custom-menu,
	.nav > li .dropdown-menu.notificatoin-menu {
		margin-top: 10px;
		background-color: $color__dark_blue;
		padding: 0;
		@include border-radius(3px);
		border: none;
	}

	.nav > li .dropdown-menu.notificatoin-menu {
		background-color: transparent;
	    margin-right: -200px;

        .messages {
            max-height: 450px;
            overflow: scroll;
            background-color: $color__dark_gray;
        }

	    &:before {
	    	content: "";
	    	display: block;
    	    width: 0px;
		    height: 0px;
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-bottom: 10px solid $color__dark_blue;
	        margin-left: 205px;
	    }
	}

	@media (min-width: 768px) {
		padding: 25px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;

        &.top-nav-collapse {
	        padding: 0;
	        background: $color__black;
	    }

	    .navbar-nav > li > a.btn-signin {
	    	margin-top: -5px;
			width: 102px;
		  	height: 50px;
			@include border-radius(100px);
		  	border: solid 1px $color__gray7c;
		  	line-height: 50px;
		  	text-align: center;
	    }
	}
}

.dropdown-menu.dropdown-custom-menu {
	& > li {
		width: 180px;
		height: 40px;
		text-align: right;

		& > a {
			color: $color__white;
			font-family: "OpenSans";
			font-size: 14px;
			line-height: 40px;
			padding: 0 30px;
			cursor: pointer;

			&:hover {
				background-color: $color__blue;
			}
		}
	}
}

.notification-unread-cnt {
    border-radius: 100px;
    background-color: #479ae0;
    font-family: Lato;
    font-size: 9px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    padding: 2px;
    margin-top: -35px;
    margin-left: 5px;
}

.dropdown-menu.notificatoin-menu {
	& > li {
		width: 420px;
		height: auto;
		text-align: left;
		border-bottom: solid 1px $color__gray54;

		&:first-child,
		&:last-child {
			border-bottom: none;
		}

		&:first-child {
			padding: 23px 20px;
			background-color: $color__dark_blue;
			font-family: "OpenSans";
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
		}

        .buttons {
            margin-top: 10px;
        }

        .company-logo {
            height: 45px;
            width: 45px;
        }

        .notification-unread {
            width: 8px;
            display: block;
            height: 8px;
            border-radius: 100px;
            background-color: #479ae0;
        }

        .row {
            margin: 20px 10px;
		    color: $color__white;
			font-family: "OpenSans-light";
			font-size: 14px;
			line-height: 1.3;
        }

		& > a {
			padding: 20px;
			cursor: pointer;

			&:hover {
				background-color: $color__blue;
			}
		}
	}
}
