<nav class="navbar navbar-custom" ng-class="{'gray-bg': hasMenuBG}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" ng-href="/#/" ng-hide="isAuthorized">
                <img class="bliff-logo" src="assets/images/bliff_logo.png" >
            </a>
            <a class="navbar-brand page-scroll" ng-href="/#/home/" ng-show="isAuthorized">
                <img class="bliff-logo" src="assets/images/bliff_logo.png" >
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-show="isAuthorized" class="page-scroll" ng-href="/#/companies">Discover Companies</a>
                    <a ng-hide="isAuthorized" class="page-scroll" ng-click="signin()">Discover Companies</a>
                </li>
                <li ng-hide="isAuthorized">
                    <a class="page-scroll btn-signin" ng-click="signin()">Log In</a>
                </li>
                <li ng-hide="isAuthorized">
                    <a class="page-scroll btn-signup" ng-click="signup()">Sign Up</a>
                </li>
                <li ng-show="isAuthorized">
                    <a href="/#/conversations">
                        <img src="assets/images/comment-icon.png">
                    </a>
                </li>
                <li ng-show="isAuthorized" uib-dropdown on-toggle="toggled(open)">
                    <a uib-dropdown-toggle>
                        <img src="assets/images/ring-icon.png">
                    </a>
                    <span ng-show="globals.notifications_new" class="notification-unread-cnt">{{ globals.notifications_new }}</span>
                    <ul class="dropdown-menu notificatoin-menu" ng-click="$event.stopPropagation()" uib-dropdown-menu="" aria-labelledby="simple-dropdown">
                        <li role="menuitem">NOTIFICATIONS</li>
                        <li role="menuitem">
                            <ul class="notificatoin-menu messages" ng-nicescroll nice-option="{autohidemode: false, cursorcolor: '#d4d4d4', cursorwidth: '7px', cursorborder: 'none', cursorborderradius: '7px'}">
                                <li role="menuitem" ng-click="markAsRead(n)" ng-repeat="n in globals.notifications track by $index">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img ng-src="{{n.source.logo || 'assets/images/no-avatar.png'}}" class="company-logo" />
                                        </div>
                                        <div class="col-xs-10">
                                            <p>{{ n.description }}<br/>{{ getFormattedTime(n.dt_created) }}</p>
                                            <div class="buttons" ng-show="n.link">
                                                <a ng-click="link_accept(n)" class="btn btn-success btn-sm">Accept</a>
                                                <a ng-click="link_deny(n)" class="btn btn-error btn-sm">Deny</a>
                                            </div>
                                        </div>
                                        <span ng-hide="n.is_viewed" class="notification-unread"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li ng-show="isAuthorized" uib-dropdown on-toggle="toggled(open)">
                    <div class="user-info" uib-dropdown-toggle>
                        <div class="user-data">
                            <h3 class="user-name">{{globals.currentUser.profile.first_name}} {{globals.currentUser.profile.last_name}}</h3>
                            <span class="user-level"><span class="user-role">{{globals.currentUser.profile.role}}</span> in {{globals.currentUser.company}}</span>
                        </div>
                        <img class="user-avatar" ng-src="{{ globals.currentUser.profile.avatar || 'assets/images/no-avatar.png' }}">
                    </div>
                    <ul class="dropdown-menu dropdown-custom-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-show="isOwner" role="menuitem"><a ng-href="/#/home">{{globals.currentUser.company}}</a></li>
                        <li ng-hide="isOwner" role="menuitem"><a ng-href="/#/company-profile/{{globals.currentUser.profile.company}}">{{globals.currentUser.company}}</li>
                        <li role="menuitem"><a ng-href="/#/settings">Settings</a></li>
                        <li role="menuitem"><a ng-click="signout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script type="text/ng-template" id="notificationPopup">
    <div class="ngdialog-message">
        <h3>{{ctx.status}}</h3>
        <hr>
        <div>
            {{ctx.message}}
        </div>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
    </div>
</script>
<script type="text/ng-template" id="notificationPopupFriendship">
    <div class="ngdialog-message">
        <h3>Congratulation</h3>
        <hr>
        <div>
            You are now friends
        </div>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
    </div>
</script>
<script type="text/ng-template" id="notificationPopupAffiliated">
    <div class="ngdialog-message">
        <h3>Congratulation</h3>
        <hr>
        <div>
            You are now affiliated companies
        </div>
    </div>
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Close</button>
    </div>
</script>
